<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login and Registration</title>
</head>
<body>
    <h1>Welcome! Let's travel</h1>
    <h2>Registration</h2>

    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li {% if message.tags %} class = "{{message.tags}}" {% endif %}> {{message}} </li>
            {% endfor %}
        </ul>
    {% endif %}

        <form action="/registration" method="POST">
            {% csrf_token %}
            <p>First Name:</p>
            <input type="text" name="first_name" placeholder="Enter First Name Here">
            <p>Last Name:</p>
            <input type="text" name="last_name" placeholder="Enter Last Name Here">
            <p>Email:</p>
            <input type="text" name="email" placeholder="Enter Email Here">
            <p>Password:</p>
            <input type="password" name="password" placeholder="Enter Password Here">
            <p>Confirm Password:</p>
            <input type="password" name="confirm_password" placeholder="Re-Enter Password Here">
            <input type="submit" value="Register!">
        </form>

    <h1>Login</h1>

    <form action="/login" method="POST">
        {% csrf_token %}

        <p>Email:</p>
        <input type="text" name="email" placeholder="Enter Email Here">
        <p>Password:</p>
        <input type="password" name="password" placeholder="Enter Password Here">

        <input type="submit" value="Login!">
    </form>

    
</body>
</html>